$title
cfe_ecp_t19
$soghf
$kramers
$newecp
$ecp file=basis
$intsdebug SAO
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
au 1-2,11-12                                                                   \
   basis =au dhf-SVP                                                           \
   ecp   =au dhf-ecp                                                           \
   jbas  =au dhf-SVP
c  3-4                                                                         \
   basis =c dhf-SVP                                                            \
   jbas  =c dhf-SVP
h  5,8-10                                                                      \
   basis =h dhf-SVP                                                            \
   jbas  =h dhf-SVP
f  6                                                                           \
   basis =f dhf-SVP                                                            \
   jbas  =f dhf-SVP
cl 7                                                                           \
   basis =cl dhf-SVP                                                           \
   jbas  =cl dhf-SVP
$basis    file=basis
$ecp    file=basis
$newecp
$scfmo   file=mos
$closed shells
 a       1-59                                   ( 2 )
$scfiterlimit      100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional b3-lyp
   gridsize   m3
$scfconv   7
$ricore     1000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=12
   nbf(CAO)=232
   nbf(AO)=208
$last step     ridft
$last SCF energy change = -.13614137
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1181.066048503    -3562.937882034     1599.162480820    -77.80997193292    -5.010731766665     865.5300564101
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.24996422318405    y    -0.44382458936320    z     0.65590979376334    a.u.
   | dipole | =    2.1108595561  debye
$spinor_real       file=spinor.r
$spinor_imag       file=spinor.i
$spinor shells
 a       1-118                                  ( 1 )
$orbital_max_rnorm  0.0000000000000
$end
